<section class="container col-12-sm" id="sign-in">
    <h1 class="text-center">Log Into the Tech Blog</h1>
    <form class="col-6 offset-3" id="sign-in-form">
        <div class="mb-3">
            <label for="user-input" class="form-label">Username</label>
            <input type="username" class="form-control" id="user-input" aria-describedby="userHelp">
        </div>
        <div class="mb-3">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass-input">
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" id="sign-in-btn">Sign In</button>
        </div>
    </form>
    <p class="text-center" id="sign-up-here">Don't have an account? <a href="/sign-up" title="Sign Up">Sign up here!</a></p>

    <div class="modal-dialog modal-dialog-centered" id="invalid-credentials-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Invalid Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Your credentials are not valid.  Please enter a valid username and password.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="invalid-credentials-close-btn">OK</button>
            </div>
        </div>
    </div>

</section>