<section class="container col-12-sm" id="sign-out-page">
    <h1 class="text-center">You've Successfully Logged Out!</h1>
    <p class="text-center">Please wait while we redirect you to the homepage.</p>
</section>

<script>
    setTimeout(() => {
        window.location.href="/";
    }, 2000);
</script>