<section class="container col-12-sm" id="sign-up-page">
    <h1 class="text-center">Sign Up for the Tech Blog</h1>
    <form class="col-6 offset-3" id="sign-up-form">
        <div class="mb-3">
            <label for="createUsername" class="form-label">Username</label>
            <input type="username" class="form-control" id="create-user" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Create a username. It must be at least four characters long.</div>
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-input">
            <div id="emailHelp" class="form-text">Enter your email address.</div>
        </div>
        <div class="mb-3">
            <label for="createPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input">
            <div id="passwordHelp" class="form-text">Create a password. It must be at least 12 characters long.</div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password-confirm">
            <div id="passwordConfirmHelp" class="form-text">Please type your password again to confirm it.</div>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" id="sign-up-btn">Sign Up</button>
        </div>

    </form>
</section>